nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml
Berksfile.lock


data/server/*
!data/server/service
!data/server/README.md

.vagrant
